     <form> 
     
     A:
     <input type="text" value="3">   
     </input><br>
     B:
     <input type="text" value="4">
     </input><br>
     
     <input type="button" value="Sumar" onclick="suma()">
     </input><br>
     
     <script>
  
     function suma() 
     {
     alert("La suma es 7")
     }
    </script>    

    </form>